<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./parts/head %>
</head>


<header>
    <% include ./parts/header %>
</header>
<body class="container">
<br>
<h3>Welcome to Avra Token page!</h3>
</body>
</html>
